.cond_asist1 {background-color:#01DF01; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_asist2 {background-color:#74DF00; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_asist3 {background-color:#D7DF01; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_asist4 {background-color:#DF7401; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_asist5 {background-color:#DF0101; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_asist6 {background-color:#01DF01; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_asist7 {background-color:#01DF01; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_asist8 {background-color:#01DF01; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_asist9 {background-color:#01DF01; text-align:center; color:#FFFFFF; valign:top; align:center;}
