.amonestacion {background-color:#610B0B; text-align:center; color:#FFFFFF; valign:top; align:center;}
.amonestacion_libre {background-color:#298A08; text-align:center; color:#FFFFFF; valign:top; align:center;}
