.cond_pago1 {background-color:#298A08; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_pago2 {background-color:#74DF00; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_pago3 {background-color:#DF7401; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_pago4 {background-color:#DF7401; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_pago5 {background-color:#610B0B; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_pago6 {background-color:#01DF01; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_pago7 {background-color:#01DF01; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_pago8 {background-color:#01DF01; text-align:center; color:#FFFFFF; valign:top; align:center;}
.cond_pago9 {background-color:#01DF01; text-align:center; color:#FFFFFF; valign:top; align:center;}
